/*This is a fix for a container with floating divs*/
.clearfix:after{
	clear: both;
	content: ".";
  	display: block;
  	height: 0;
	visibility: hidden;
	font-size: 0;
}
/*This is the format for the header*/

#header { 
	background:#003056;
	width: 60%;
	margin-left: auto ;
	margin-right: auto;
}

#home {
	color:#E6CD6F;
	text-align:center;
	width:50%;
	margin-left: auto ;
	margin-right: auto ;
}

#menu {

	margin-left: auto ;
	margin-right: auto ;
	height: 50px;
	width: 50%
	margin-top: auto;
	margin-bottom: auto;
}

#menu ul li.first {
	
	padding: 5px 5px;
	text-transform: uppercase;
	font-size: 15px;
	display: inline;
	}
	
#menu ul li.border {
	
	padding: 5px 5px;
	border-left: 1px solid white;
	text-transform: uppercase;
	font-size: 15px;
	display: inline;
	}

#menu a:link { color: white;  text-decoration: none; }

#menu a:visited { color:white; text-decoration: none; }

#menu a:hover  { color: #white; text-decoration: underline; }

#menu a:active { color: #white; text-decoration: underline; }
	 
#menu ul {
  	text-align: center;
}

/*body formatting for aboutme starts here*/


#aboutwrapper {
	min-height:100%;
	background-image:url('Images/miami.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%
}
	
#profilepic {
	float:left;
	margin-left: auto ;
	margin-right: auto ;
}

#whoami {
	float:right;
	margin-left: auto ;
	margin-right: auto ;
	width: 70%;
	font-size: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	}

#whoami ul li {
	padding-top: 10px;
}

#whoami ol li {
	padding-top: 10px;
}

#aboutmain {
	width: 60%;
	margin-left: auto ;
	margin-right: auto ;
	padding: 40px;
} 
/*Footer formating */
#footer {
	color:#E6CD6F;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left: 0px;
	right:0px;
	background:#003056;
	text-align:center;
	width:60%;
	margin-left: auto ;
	margin-right: auto ;
}

.wrapper {
	min-height:100%;
	position:relative;	
}
	
/* Body for interests starts here */

#intmain {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
}

#gympic {
	float:left;
	margin-left: auto ;
	margin-right: auto ;
	padding: 30px;
}

#umfpic {
	float:left;
	margin-left: auto ;
	margin-right: auto ;
	padding: 30px;
}

#gamingpic {
	float:left;
	margin-left: auto ;
	margin-right: auto ;
	padding: 30px;
}

#pics {
	float:left;
	width:20%;
	margin-left: auto ;
	margin-right: auto ;
}

#gymdescription {

	float: right;
	width: 85%;
}

.description ul li {
padding: 7px;
}
#descriptions {
	float:right;
	margin-left: auto ;
	margin-right: auto ;
	width: 70%;
	font-family: Tahoma, Geneva, sans-serif;
}
#musicdescription {
	float: right;
	width: 85%;
	
}
#gamingdescription {
float: right;
	width: 85%;
	position:relative;
	top:70px;
}

.description {
font-size: 18px;
}
	
/*Contact me formatting */	
#contactwrapper {
	min-height:100%;
	background-image:url('Images/miami.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
}
.main_form{

	margin:auto;
	position:relative;
	width:550px;
	height:600px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: :#003056;	;
	text-decoration: none;
	text-align: center;
	padding:10px;
}

.main_form h1 {
	text-align: center;
}

input   
{
	width:375px;
	display:box; 
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#return {
	text-align:center;
}

/*portfolio formatting*/

#portmain {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
}
	
#portheader {
	text-align: center;
}

#resume {
	width:50%;
	margin-left: auto;
	margin-right: auto;
}

#sun {
	padding: 20px;
	width:50%;
	margin-left: auto;
	margin-right: auto;
}

#sname {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	width:300px;
	border: 1px solid #999;
	height: 30px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/*Nutrition Calculator*/
#bodytype .nutbar {
	width: 50px;	
}


.rdio {
	width: 20px;
	height: 20px;
	display: inline;
	vertical-align:middle;
	text-align:center;
}

#bdytype {
	padding:100px;
}
select {
	vertical-align:middle;
	font-size: 14px;
	width: 140;
	height: 30;
}

#bodytype ul {
	float: right;
}

#bodytype ul li {
	text-align: left; 
	margin-left: auto; 
	margin-right: auto;
	width: 400px;
}

	